test_websocket_server/target/*
!test_websocket_server/target/.gitkeep
!test_websocket_server/target/doc/
test_websocket_server/target/doc/*
!test_websocket_server/target/doc/Open*test_websocket_server*Documentation.*
ITGH_websocket_test_client/nui/js/*
!ITGH_websocket_test_client/nui/js/.gitkeep
